/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mai 2018, 13:42:41
    Author     : mvibert
*/

body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background: url(../img/ap.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.box{
    background-color: rgba(255,255,255,0.5);
    width:90%;
    margin-left:5%;
    min-height:calc(90% - 180px);
}

.container{
    margin-top:10px;
}

.row > h4{
    margin-top:20px;
    margin-bottom:20px;
}

.center-align{
    text-align:center;
}

.button-orange{
    background-color: red;
    color:white;
    text-align:center;
}

.button-red{
    background-color: orange;
    color:white;
    text-align:center;
}

.button-red:hover, .button-orange:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.edit-new-posts{
    width:100%;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.glyphicon{
    color:white;
}

a{
    text-decoration: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-circle-red {
    border-radius:50%;
    width:30px;
    height:30px;
    line-height: 30px;
    background-color: red;
}

.btn-circle-green {
    border-radius:50%;
    width:30px;
    height:30px;
    line-height: 30px;
    background-color: green;
}

th {
    text-align:center;
}

.black-glyphicon{
    color:black;
}
.comments-warning{
    margin-left:3px;
}

.OurBlog {
    text-align: center;
}

.footer-top-layout {
    width:100%;
    background: #1c1c1c none repeat scroll 0 0;
    color: #ffffff;
    height:120px;
}


.footer-bottom-layout {
    background: #222222 none repeat scroll 0 0;
    color: #bfe6ff;
    width: 100%;
    height:60px;
    padding: 20px 0;
    text-align: center;

}

.main-title{
    text-align: center;
    padding-top :30px;
}